
#browsingIcon{
  width: 20vh;
}
#app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#home{
  height: 80%;
  display: flex;
  flex-direction: column;
}

.alinearvertical{
  margin-top: auto;
}
#logo{
  max-width: 100%;
  max-height: 15vh;
}

#homeIcon{
  max-width: 15vh;
}

#divAccount{
  height: 10vh;
}

#browsingIcon{
  max-width: 100%;
  max-height: 15vh;
}